<link rel="stylesheet" href="/stylesheets/learnmore.css"> 
<link rel="stylesheet" href="/stylesheets/home.css">
<!-- navbar starts here -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00001a;">
    <!-- Brand -->
<a href="/users/welcome"><img src="/stylesheets/logo.JPG" width=110 height=30></a>

<!-- toggle button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Links -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/users/welcome">Home</a>                     
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/action">Action</a>                     
        </li>
        
        <li class="nav-item">
        <a class="nav-link" href="/users/animated">Animated</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/crime">Crime</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/drama">Drama</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/horror">Horror</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/romance">Romance</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/sci-fi">Science-fiction</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/users/thriller">Thriller</a>
        </li>
        
    </ul>
    <%- include ("./partials/details"); %>
</div>
</nav>
<!-- navbar ends here -->

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 heading"><section>Privacy Policy</section>
            <div class="content"> <br>At Pick-A-Flick, accessible from www.pickaflick.com, one of our main priorities 
                is the privacy of our visitors. This Privacy Policy document contains types of 
                information that is collected and recorded by Pick-A-Flick and how we use it.
                Like any other website, Pick-A-Flick uses 'cookies'. These cookies are used to store 
                information including visitors' preferences, and the pages on the website that the 
                visitor accessed or visited.</div>
        </div>
        <div class="col-md-4 heading"><section>Terms & Conditions</section>
            <div class="content"> <br>
                Without prior approval and written permission, you may not create frames 
                around our Webpages that alter in any way the visual presentation or appearance 
                of our Website. To the maximum extent permitted by applicable law, we exclude 
                all representations, warranties and conditions relating to our website and the 
                use of this website. Pick-A-Flick reserves the right to monitor all Comments and 
                to remove any Comments which can be considered inappropriate, offensive or causes 
                breach of these Terms and Conditions.
            </div>
        </div>
        <div class="col-md-4 heading"><section>About</section>
            <div class="content">  <br>
                Welcome to Pick-A-Flick, your number one source for efficient Movie Ticket Booking. 
                We're dedicated to providing you the best of experience, with a focus on dependability.
                customer service, and Flexibility. We're working to turn our passion for 
                Movies into a booming online store. We hope you enjoy our services as much as we 
                enjoy offering them to you. <br><br>
                Sincerely, Team Pick-A-Flick
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-4 heading"><section>Membership</section>
            <div class="content">  <br>
                The Membership Programme of Pick-A-Flick encompasses a wide range of benefits including
                Complimentary Coupons and Vouchers, upto 100% Cashbacks,
                Complete Customer Service Protection and many more. <br>
                <i><b>Silver Membership: Rs.159 per Month</b></i><br>
                <i><b>Gold Membership: Rs.199 per Month</b></i><br>
                <i><b>Diamond Membership: Rs.249 per Month</b></i><br><br>
                <small>*Contact us to know more about the Membership Programmes</small>
            </div>
        </div>
        <div class="col-md-4 heading"><section>Contact Us</section>
            <div class="content">  <br>
                Call Us at <i>99123-99123</i><br><br>
                Mail us at <i>pickaflick@gmail.com</i><br><br>
                Facebook Page : <i>Pick-A-Flick Ltd</i><br><br>
                Instagram Handle : <i>@pickaflick</i><br><br>
                Twitter Handle : <i>@pickaflicktweet</i>
            </div>
        </div>
        <div class="col-md-4 heading"><section>Social Media</section>
            <div class="content">  <br>
                Here are our Social Media Handles. We would love to hear your experience. Let us be a 
                part of your journey. Mention us in your visits to the movies by using the tag,<br>
                <i style='font-size: 1.5rem;'><b> #Pick-A-Flicked </i></b><br><br>
                <span class="foot_image"><img src="/stylesheets/fb2.png" alt="fb" height="45rem" width="45rem" class="foot_image_fb">&nbsp;</span>
                <span class="foot_image"><img src="/stylesheets/insta2.png" alt="fb" height="45rem" width="45rem" class="foot_image_insta">&nbsp;</span>
                <span class="foot_image"><img src="/stylesheets/twitter2.png" alt="twitter" height="45rem" width="45rem" class="foot_image_twitter"></span>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<script src="/stylesheets/learnmore.js"></script>